{
   "postgres": {
           "host": "{{ ip_addr | default("127.0.0.1:5432") }}",
           "user": "{{ semaphore_db_user }}",
           "pass": "{{ semaphore_db_password }}",
           "name": "{{ semaphore_db_name }}",
           "options": {}
  },
  "dialect": "postgres",
  "tmp_path": "/opt/semaphore",
  "cookie_hash": "NZcVu2WLtkfunYuoUDl386cz/xnn5reh9mA/RPLwBSs=",
  "cookie_encryption": "3y73AIhwExZ1ZNvqw1EuWVCmrPv1SKZzYIx+eXgrs9k=",
  "access_key_encryption": "IWSAlUyxlQW0QdpPNfkKe79m+68F4LDNXxD/QVasL1I="

}